[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "*"

[packages]
numpy = "*"
matplotlib = "*"
opencv-python = "*"
jupyter = "*"
ipykernel = "*"
pycollada = "*"
solidpython = "*"
viewscad = "*"
ipython = "*"
